<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<form action="/login" method="post">
<!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">-->
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
</form>


<!-- Отображение сообщения об ошибке -->
<!--<div th:if="${session.errorMessage}">-->
<!--    <p th:text="${session.errorMessage}"></p>-->
<!--</div>-->
<div th:if="${param.error}">
    <p>логин или пароль введены неверно</p>
</div>

</body>
</html>